div.row {

}
div.row h2, div.row h3 {
  text-align:center;
}
div.row p {
  text-align: justify;
}
div.row p.img {
  text-align:center;
}
div.row p.img img {
  max-width:100%;
}

div.row p.img-small img {
  float:left;
  max-height:170px;
  margin:3%;
  max-width:40%;
}

*.clearfix {
  clear:both;
}