#index div.row h2, #index div.row h3 {
  text-align:center;
}
#index div.row p {
  text-align: justify;
}
#index div.row p.img {
  text-align:center;
}
#index div.row p.img img {
  max-width:100%;
}

#index div.row p.img-small img {
  float:left;
  max-height:170px;
  margin:3%;
  max-width:40%;
}

*.clearfix {
  clear:both;
}

.btn-social {
  display:inline-block;
  width:auto;
  color:#fff !important;
}

#demos div iframe {
  width:100%;
}

#demos div p, #demos div li {
  text-align: justify;
}

div p {
  text-align: justify;
}

h1 { color:#000; }
h2 { color:#111; }
h3 { color:#333; }
h4 { color:#555; }
h5 { color:#777; }

pre {
  display: inline !important;
}
pre code {
  margin:0;
}